section * {
    font-family: "Work Sans", sans-serif;
    color: #333;
}
.container {
    align-items: center;
    margin: auto;
    text-align: justify;
    font-size: 0.95em;
}
.subTitle {
    text-align: left;
}
#cita-equipo {
    font-style: italic;
}
#navContacto {
    text-align: center;
    margin-top: 40px;
}
#navContacto button {
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 3px;
    padding: 12px 24px;
    cursor: pointer;
    margin: 10px;
    min-width: 25%;
    text-transform: uppercase;
}
#navContacto button a {
    text-decoration: none;
}
#navContacto button:hover {
    transform: scale(1.1);
    font-weight: 600;
    border: 2px solid;
}
.webFooter p {
    color: #333;
}

/*querries*/
@media (max-width: 576px) {
    .container {
        font-size: 15px;
    }
}
