.container {
    align-items: center;
    margin: auto;
    text-align: justify;
    font-size: 0.95em;
}
.subTitle {
    padding: 30px 0 20px 0;
    font-family: "Sedan", serif;
}
.webFooter p {
    color: #333;
}

/*querries*/
@media (max-width: 576px) {
    .container {
        font-size: 0.90em;
    }
}